<div class="drawing-container relative min-h-screen bg-gradient-to-r from-purple-900 via-purple-700 to-purple-500 flex flex-col items-center py-10">
  <!-- Botón para abrir el formulario -->
  <button (click)="abrirFormularioRegistro()" class="py-2 px-4 bg-blue-500 text-white font-semibold rounded-full">
    Abrir Formulario de Registro
  </button>

  <!-- Formulario de registro -->
  <div *ngIf="mostrarFormulario" class="mt-4 p-6 bg-gray-100 rounded-lg shadow-md">
    <h2 class="text-lg font-bold mb-4">Formulario de Registro</h2>

    <!-- Campos del formulario -->
    <div class="mb-4">
      <label for="audio" class="block text-sm font-medium text-gray-700">Audio URL</label>
      <input id="audio" type="text" [(ngModel)]="nuevoAudio" class="mt-1 block w-full border border-gray-300 rounded-md" placeholder="Ingrese la URL del audio">
    </div>

    <div class="mb-4">
      <label for="opcion1" class="block text-sm font-medium text-gray-700">Opción 1</label>
      <input id="opcion1" type="text" [(ngModel)]="nuevaOpcion1" class="mt-1 block w-full border border-gray-300 rounded-md" placeholder="Ingrese la opción 1">
    </div>

    <div class="mb-4">
      <label for="opcion2" class="block text-sm font-medium text-gray-700">Opción 2</label>
      <input id="opcion2" type="text" [(ngModel)]="nuevaOpcion2" class="mt-1 block w-full border border-gray-300 rounded-md" placeholder="Ingrese la opción 2">
    </div>

    <div class="mb-4">
      <label for="opcion3" class="block text-sm font-medium text-gray-700">Opción 3</label>
      <input id="opcion3" type="text" [(ngModel)]="nuevaOpcion3" class="mt-1 block w-full border border-gray-300 rounded-md" placeholder="Ingrese la opción 3">
    </div>

    <div class="mb-4">
      <label for="opcion4" class="block text-sm font-medium text-gray-700">Opción 4</label>
      <input id="opcion4" type="text" [(ngModel)]="nuevaOpcion4" class="mt-1 block w-full border border-gray-300 rounded-md" placeholder="Ingrese la opción 4">
    </div>

    <div class="mb-4">
      <label for="correcta" class="block text-sm font-medium text-gray-700">Opción Correcta</label>
      <input id="correcta" type="text" [(ngModel)]="correcta" class="mt-1 block w-full border border-gray-300 rounded-md" placeholder="Ingrese la opción correcta">
    </div>

    <!-- Botones de acción -->
    <div class="flex justify-end">
      <button (click)="registrarNuevoElemento()" class="py-2 px-4 bg-green-500 text-white font-semibold rounded-full mr-2">
        Registrar
      </button>
      <button (click)="cerrarFormularioRegistro()" class="py-2 px-4 bg-red-500 text-white font-semibold rounded-full">
        Cancelar
      </button>
    </div>
  </div>
</div>
